/* Allgemeine Stile */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffeef2;
    background-image: url('pastel_pattern_with_plants.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #555;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Header */
header {
    background-color: #ffdde9;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}


header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    color: #eb3d68;
    margin: 0;
}

/* Main Content */
main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

article h2 {
    font-family: 'Dancing Script', cursive;
    color: #ff5a82;
    font-size: 2rem;
    margin-bottom: 10px;
}

article p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Footer */
footer {
    background-color: #ffdde9;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 1rem;
    color: #555;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Mobile Friendly */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    article h2 {
        font-size: 1.5rem;
    }

    article p {
        font-size: 1rem;
    }
}
